{% import 'macros/form.html' as form %}
<fieldset class="orgportal-media-item">
{% if data %}
    {% set n =  data.order %}
    {% set media_type =  data['media_type'] %}
    {% set video_source =  data['video_source'] %}
    {% set title_input = ['video_title_', n]|join('') %}
    {% set title_url_input = ['video_title_url_', n]|join('') %}
    {% if data['video_title'] %}
        {% set video_title = data['video_title'] %}
    {% else %}
        {% set video_title = '' %}
    {% endif %}
    {% if data['video_title_url'] %}
        {% set video_title_url = data['video_title_url'] %}
    {% else %}
        {% set video_title_url = '' %}
    {% endif %}

    {% set video_size = data.video_size %}
    <legend>{{ _('Item') }} {{ n }}</legend>

    <iframe id="video_source_preview_{{ n }}" class="video-container" width="665" height="350" src="{{ video_source }}" frameborder="0" allowfullscreen></iframe>

    <a class="btn btn-default pull-right change-chart-btn" type="button" href="#"
       onclick="$('#change_video_{{ n }}').removeClass('hidden'); $(this).addClass('hidden'); return false">
        Change
    </a>
    <div id="change_video_{{ n }}" class="hidden">
        {% set url_placeholder = _('Paste your URL here') %}
        {% set source_input_id =  ['video_source_', n]|join('') %}
        {% set source_input_name =  ['input_video_source_', n]|join('') %}
        {% set title_input = ['video_title_', n]|join('') %}

        {{ form.input(source_input_name, source_input_id, label=_('URL'), type='url', placeholder=url_placeholder, value='', error='', is_required=true) }}

        {{ form.input(title_input, label=_('Title'), type='text', placeholder='Input your video title here', value=video_title, error='', is_required=true) }}

        {{ form.input(title_url_input, label=_('Title URL'), type='url', placeholder=url_placeholder, value=video_title_url, error='', is_required=true) }}

        <div class="control-group">
      <label class="control-label" for="video_size_{{ n }}">Video size</label>
      <div class="controls ">
        <select id="video_size_{{ n }}" name="video_size_{{ n }}">
            <option value="">Choose size</option>
            <option value="single"{% if video_size == 'single' %} selected {% endif %}>Single</option>
            <option value="double"{% if video_size == 'double' %} selected {% endif %}>Double</option>
        </select>
      </div>
    </div>


{% else %}

    <legend>{{ _('Item') }} {{ n }}</legend>
    {% set url_placeholder = _('Paste your URL here') %}
    {% set source_input_id =  ['video_source_', n]|join('') %}
    {% set source_input_name =  ['input_video_source_', n]|join('') %}
    {% set title_input = ['video_title_', n]|join('') %}

    <iframe id="video_source_preview_{{ n }}" class="hidden video-container" width="665" height="350" src="" frameborder="0" allowfullscreen></iframe>

    {{ form.input(source_input_name, source_input_id, label=_('URL'), type='url', placeholder=url_placeholder, value='', error='', is_required=true, attrs={'required':'required'}) }}

    {{ form.input(title_input, label=_('Title'), type='text', placeholder='Input your video title here', value='', error='', is_required=true, attrs={'required':'required'}) }}

    {{ form.input(title_url_input, label=_('Title URL'), type='url', placeholder=url_placeholder, value='', error='', is_required=true, attrs={'required':'required'}) }}

    <div class="control-group">
        <label class="control-label" for="video_size_{{ n }}">Video size</label>
        <div class="controls ">
            <select id="video_size_{{ n }}" name="video_size_{{ n }}">
                <option value="">Choose size</option>
                <option value="single">Single</option>
                <option value="double">Double</option>
            </select>
        </div>
    </div>

{% endif %}

<a class="btn btn-danger remove-media-item-btn"><i class="fa fa-trash" aria-hidden="true"></i> Remove </a>
<hr>

<input type="hidden" id="save_video_source_{{ n }}" name="video_source_{{ n }}" value="{{ video_source }}"/>
<input type="hidden" id="media_type_{{ n }}" name="media_type_{{ n }}" value="{{ media_type }}"/>
<span class="grippy"></span>
</fieldset>
