{% extends 'page.html' %}

{% block styles %}
  {% resource 'orgportals/main' %}
  {% resource 'orgportals/font-awesome.css' %}
{% endblock %}

{% block page %}
  <div class="boxed-layout">

    {% block header %}
      {% snippet 'portals/snippets/header.html' %}
    {% endblock %}

    {% block content %}

    {% endblock %}

    {% block footer %}
      {% snippet 'portals/snippets/footer.html' %}
    {% endblock %}

  </div>
{% endblock %}

{% block scripts %}
  {% resource 'orgportals/main.js' %}
{% endblock %}
