{% extends 'page.html' %}
{% block head_extras %}
    {% if ga_code %}
        {% snippet 'portals/snippets/gtm_head.html', ga=ga_code %}
    {% endif %}
{% endblock %}
{% block styles %}
  {% resource 'orgportals/style' %}
{% endblock %}

{% block scripts %}
  {% resource 'orgportals/main.js' %}
{% endblock %}

{% block page %}
  {% if ga_code %}
        {% snippet 'portals/snippets/gtm_body.html', ga=ga_code %}
  {% endif %}
  <div class="boxed-layout">

    {% block header %}
      {% snippet 'portals/snippets/header.html' %}
    {% endblock %}

    {% block content %}

    {% endblock %}

    {% block footer %}
      {% snippet 'portals/snippets/footer.html' %}
    {% endblock %}

  </div>

  <div class="alert alert-dismissible social-media-share-alert" role="alert">
    <div class="alert-text"></div>
  </div>
{% endblock %}

