<footer class="footer-container">
  <div class="row">
    <div class="col-md-2 col-lg-4">
      <ul class="list-unstyled list-footer-nav">
        <li><a href="home">Home</a></li>
        <li><a href="data">Data</a></li>
        <li><a href="about">About</a></li>
        <li><a href="help">Help</a></li>
        <li><a href="resources">Resources</a></li>
        <li><a href="glossary">Glossary</a></li>
        <li><a href="contact">Contact</a></li>
      </ul>
    </div>
    <div class="col-md-2 col-lg-3">
      <ul class="list-inline list-social-buttons">
        <li>
          <a class="btn-animated" href="https://www.facebook.com/usingextractivesdata">
            <img src="/images/facebook-circle-color.svg" width="50" height="50" alt="Share on Facebook" />
          </a>
        </li>
        <li>
          <a class="btn-animated" href="https://twitter.com/usedata15">
            <img src="/images/twitter-circle-color.svg" width="50" height="50" alt="Tweet">
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-8 col-lg-5">
      <ul class="list-inline list-footer-logos">
        <li>
          <a href="https://www.gov.uk/government/organisations/department-for-international-development">
            <img src="/images/ukaid-logo-246x260.png" height="130" alt="UKAID logo">
          </a>
        </li>
        <li>
          <a href="http://www.montroseint.com/">
            <img src="/images/montrose-logo-720x240.png" height="100" alt="Montrose logo">
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="copyright">© {{ h.orgportals_get_copyright_text(c.org_name) }}</div>
</footer>
