{% set pages = h.orgportals_get_pages(c.org_name) %}
<header>
  {% snippet 'portals/snippets/language_switcher.html' %}

  <div class="row">
    <div class="col-sm-3 organization-logo">
      <a href="#"><img class="img-responsive" src="/images/usedata.jpg" height="130" alt="logo"></a>
    </div>


    <div class="col-sm-9">
      <nav class="top-navigation pull-right" style="background-color: grey">
        <div class="">
          <ul class="list-inline">
            {% set ctrl = 'ckanext.orgportals.controllers.portals:OrgportalsController' %}

            {% for page in pages %}

              {% if page.type == 'home' %}
                {% set page_link = h.url_for(controller=ctrl, action='view_portal', org_name=c.org_name) %}
              {% elif page.type == 'data' %}
                {% set page_link = h.url_for(controller=ctrl, action='datapage_show', org_name=c.org_name) %}
              {% elif page.type == 'default' %}
                {% set page_link = h.url_for(controller=ctrl, action='contentpage_show', org_name=c.org_name, page_name=page.name) %}
              {% elif page.type == 'custom' %}
                {% set page_link = h.url_for(controller=ctrl, action='custompage_show', org_name=c.org_name, page_name=page.name) %}
              {% endif %}

              {% if c.page_name == page.name %}
                {% set page_active = 'true' %}
              {% else %}
                {% set page_active = 'false' %}
              {% endif %}

              <li><a href="{{ page_link }}" data-page-active="{{ page_active }}">{{ page.page_title }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
