<header>
    <div class="row">
      <div class="col-sm-3 organization-logo">
        <a href="#"><img class="img-responsive" src="/images/usedata.jpg" height="130" alt="logo"></a>
      </div>

      <div class="col-sm-9">
        <nav class="top-navigation pull-right" style="background-color: grey">
          <div class="">
            <ul class="list-inline">
              <li><a href="home">Home</a></li>
              <li><a href="data">Data</a></li>
              <li><a href="about">About</a></li>
              <li><a href="help">Help</a></li>
              <li><a href="resources">Resources</a></li>
              <li><a href="contact">Contact</a></li>
              <li><a href="glossary">Glossary</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
</header>
