<div class="col-md-4 content-image-container">
  <h3>{{ image_title }}</h3>
  <p>Yoooo</p>
  <img src="{{ image_url }}" width="100%" height="320px" />

  <i class="fa fa-download fa-lg download-graph-btn" aria-hidden="true" title="{{ _('Download image') }}"></i>
  <a href="{{ image_url }}"><i class="fa fa-facebook-square fa-lg share-graph-fb-btn" aria-hidden="true" title="Share image on Facebook"></i></a>
  <i class="fa fa-twitter-square fa-lg share-graph-twitter-btn" aria-hidden="true" title="Share image on Twitter"></i>
</div>
