{% if map %}
    {% set maps = h.orgportals_convert_to_list(map) %}
    {% set geoJsonUrlList = [] %}}
    {% for item in maps %}
        {# Apparently we can append only in an if statement #}
        {% if geoJsonUrlList.append(h.orgportals_get_resource_url(item)) %}
        {% endif %}
    {% endfor %}
{% else %}
    {% set maps = [] %}
    {% set geoJsonUrlList = [] %}
{% endif %}

{% if map_main_property %}
    {% set map_main_properties = h.orgportals_convert_to_list(map_main_property) %}
{% endif %}


{% if maps %}
{% set resource_names = h.orgportals_get_resource_names_from_ids(maps) %}
{% endif %}

{% set organization_entity_name = h.orgportals_get_organization_entity_name() %}

<div class="hero-map-wrap">
  <div class="hero-controls">
      <div class="hero-block hero-info-select hidden" id="map-info">
          <div class="hero-select" style="border: 5px solid {{ base_color }}">
              <select id="orgportals_resource" class="form-control" style="color: {{ base_color }};">
              {% for item in maps %}
                <option
                    value="{{ geoJsonUrlList[loop.index0] }}">{{ resource_names[loop.index0] }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="hero-select" style="border: 5px solid {{ base_color }}">
              <select id="dataset" class="form-control" style="color: {{ base_color }};"></select>
          </div>
      </div>
  </div>

  <div
          data-module="orgportals_map"
          data-module-id="hero_map"
          {% if geoJsonUrlList|length > 0 %}
            data-module-mapurl="{{ geoJsonUrlList|join(',') }}"
          {% else %}
            data-module-mapurl="[]"
          {% endif %}
          data-module-organizationName="{{ org_display_name }}"
          data-module-color="{{ base_color }}"
          data-module-main_property="{{ map_main_properties|join(',') }}"
          id="hero_map"
  >
      <div class="media hero-info">
        <div class="media-left">
            <img id="map-info-img" class="language-flag" src="/images/usedata-info-icon.svg" width="41" alt="icon">
        </div>
        {% if organization_entity_name == 'country' %}
          {% set disclaimer_prefix = 'USEDATA and its ' %}
        {% elif organization_entity_name == 'organization' %}
          {% set disclaimer_prefix = '' %}
        {% endif %}
        {% set disclaimer_text = 'All efforts have been made to make this map accurate. However, {disclaimer_prefix}Service Providers accept no liability for any errors, omissions, or inaccuracies in the information provided on this map.'.format(disclaimer_prefix=disclaimer_prefix) %}
        <div class="media-body hidden">{{ _(disclaimer_text) }} © <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> {{ _('contributors') }}
        </div>
    </div>
  </div>

</div>
