<div class="container" data-section="media">
  {% snippet 'portals/snippets/goto_next_section.html' %}

  {% for item in media %}
    {% if item.media_type == 'chart' %}
      {% snippet 'portals/snippets/chart_container.html',
        resource_view_id=item.chart_resourceview,
        subheader=item.chart_subheader,
        media_size=item.media_size
      %}
    {% elif item.media_type == 'youtube_video' %}
      {% snippet 'portals/snippets/youtube_video_container.html',
        video_source=item.video_source, video=item
      %}
    {% elif item.media_type == 'image' %}
      {% snippet 'portals/snippets/image_container.html',
        image=item,
        image_url=item.image_url,
        image_title=item.image_title
      %}
    {% endif %}
  {% endfor %}
</div>
