{% import 'macros/form.html' as form %}

{% set placeholder = placeholder if placeholder else _('Search datasets...') %}
{% set sorting = sorting if sorting else [(_('Name Ascending'), 'name asc'), (_('Name Descending'), 'name desc')] %}
{% set search_class = search_class if search_class else 'search-giant' %}
{% set no_bottom_border = no_bottom_border if no_bottom_border else false %}
{% set form_id = form_id if form_id else false %}

{% if subdashboard %}
  {% if c.source == 'admin' %}
    {% set exit_search_href = h.url_for(controller=c.controller, action=c.action, org_name=c.org_name, subdashboard_name=subdashboard.name, source='admin') %}
  {% else %}
    {% set exit_search_href = h.url_for(controller=c.controller, action=c.action, subdashboard_name=subdashboard.name) %}
  {% endif %}
{% else %}
  {% if c.source == 'admin' %}
    {% set exit_search_href = h.url_for(controller=c.controller, action=c.action, org_name=c.org_name, source='admin') %}
  {% else %}
    {% set exit_search_href = h.url_for(controller=c.controller, action=c.action) %}
  {% endif %}
{% endif %}
<div class="data-block-header" style="background: {{ secondary_color }}">
  <div class="row">
    <div class="col-md-2">
      <h2 class="data-block-heading" style="color: {{ font_base_color }}">{{ _('Data') }} [{{ count }}]</h2>
    </div>
    <div class="col-md-4">
      <form {% if form_id %}id="{{ form_id }}" {% endif %}class="search-form{% if no_bottom_border %} no-bottom-border{% endif %}"
            method="get" data-module="select-switch">
          <div class="input-group">
            <input type="text" name="q" value="{{ query }}" autocomplete="off"
                 class="form-control input-search-data" placeholder="{{ placeholder }}"
                 style="border-color: {{ base_color }} ">
            {% if h.orgportals_show_exit_button(request.params) %}
              <a class="btn btn-default exit-search-btn" href="{{ exit_search_href }}#search-data" title="Exit search" role="button"><i class="fa fa-times fa-lg" aria-hidden="true"></i></a>
            {% endif %}
          </div>
      </form>
    </div>
  </div>
</div>

{% if error %}
  <p><strong>{{ _('There was an error while searching.') }}</strong> {{ _('Please try again.') }}</p>
{% endif %}
