<div class="col-md-4 subdashboards-container__item">
  <a {% if item.enabled == 'True' and item.group != '$none$' and h.orgportals_is_subdashboard_active(org_name, item.subdashboard) %}
        href="subdashboard/{{ item.subdashboard }}"
     {% else %}
        style="text-decoration: none; opacity: 0.5;"
     {% endif %}>
    <span>
      {% if item.image_url %}
        {% set image_url = item.image_url %}
      {% else %}
        {% set image_url = '/images/placeholder-group.png' %}
      {% endif %}
      <img src="{{ image_url }}">
    </span>
    <h3>{{ item.title }}</h3>
    {% if item.full_attributes %}
        <p>{{ item.full_attributes.icon_description }}</p>
    {% endif %}
  </a>
</div>
