{% if video is not none %}
{% if video.video_size == 'single' %}
{% set video_size = 'col-md-4' %}
{% set video_height = '315px' %}
{% elif video.video_size == 'double' %}
{% set video_size = 'col-md-8' %}
{% set video_height = '415px' %}
{% else %}
{% set video_size = 'col-md-4' %}
{% endif %}

<div class="{{ video_size }} youtube-video-container content-container">
    <div class="inner-video">
        <h3><a href="{{ video.video_source }}" target="_blank">{{ video.video_title }}</a></h3>
        <iframe width="100%" height="{{ video_height }}px" src="{{ video_source }}" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="social-buttons">
        <a href="" data-fb-url="{{ video.video_source }}" class="fb-url" ><i class="fa fa-facebook-square fa-lg share-video-fb-btn" aria-hidden="true" title="Share image on Facebook"></i></a>
        <a href="" data-url-type="video" data-twitter-url="{{ video.video_source }}" class="twitter-url" ><i class="fa fa-twitter-square fa-lg share-video-twitter-btn" aria-hidden="true" title="Share image on Twitter"></i></a>
    </div>
</div>
{% endif %}
