[groups]

map =
  vendor/leaflet/leaflet-src.js
  vendor/leaflet/leaflet.css
  map.js
  map-module.js

nav_bar =
  vendor/dragula/dragula.js
  nav-bar.js

topics =
  vendor/dragula/dragula.js
  vendor/dragula/dragula.css
  topics-settings.js
  topics-settings.css

content =
  vendor/dragula/dragula.js
  vendor/dragula/dragula.css
  content-settings.js
  content-settings.css

style =
  font-awesome.css
  style.css

subdashboard =
  vendor/bootstrap/dropdown.js
  goto-next-section.js
  codebird.js
  social-media-share.js
