{% extends 'portals/index.html' %}

{% block content %}
  {% if page.image_url %}
    {% set container_height = 'initial' %}
    {% set image_url = page.image_url %}
  {% else %}
    {% set container_height = '100px' %}
    {% set image_url = '' %}
  {% endif %}

  <div class="hero-content-container" style="height: {{ container_height }};">
    <img class="hero-content-container__image" src="{{ image_url }}">
    <div class="hero-content-container__content">
      <h3 class="hero-content-container__header">{{ page.content_title }}</h3>
      <a href="data"><div class="hero-content-container__button">{{ page.text_box }}</div></a>
    </div>
  </div>
{% endblock %}
