{% extends 'portals/index.html' %}

{% block meta %}
  {{ super() }}

<meta property="og:url"           content="https://montrose-devel.ckan.io/en/organization/test-organization/portal/subdashboard/population" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Your Website Title" />
  <meta property="og:description"   content="Your description" />
  <meta property="og:image"         content="https://montrose-devel.ckan.io/images/usedata.jpg" />
{% endblock %}

{% block scripts %}
  {{ super() }}

  {% resource 'orgportals/map' %}
  {% resource 'orgportals/jspdf' %}
  {% resource 'orgportals/vendor/bootstrap/dropdown.js' %}
  {% resource 'orgportals/canvas2image.js' %}
  {% resource 'orgportals/goto-next-section.js' %}
{% endblock %}

{% block content %}
  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

    <!-- Your share button code -->
    <div class="fb-share-button" data-href="https://montrose-devel.ckan.io/en/organization/test-organization/portal/subdashboard/population" data-layout="button" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Share</a></div>
  {% if organization.orgportals_base_color %}
    {% set base_color = "#" + organization.orgportals_base_color %}
  {% else %}
    {% set base_color = "#000000" %}
  {% endif %}

  {% if organization.orgportals_secondary_color %}
    {% set secondary_color = "#" + organization.orgportals_secondary_color %}
  {% else %}
    {% set secondary_color = "#000000" %}
  {% endif %}

  {% if organization.orgportals_main_color %}
    {% set font_base_color = "#" + organization.orgportals_main_color %}
  {% else %}
    {% set font_base_color = "#818181" %}
  {% endif %}

  {% if organization.orgportals_new_data_color %}
    {% set font_new_data_color = "#" + organization.orgportals_new_data_color %}
  {% else %}
    {% set font_new_data_color = "#000000" %}
  {% endif %}

  {% if organization.orgportals_all_data_color %}
    {% set font_all_data_color = "#" + organization.orgportals_all_data_color %}
  {% else %}
    {% set font_all_data_color = "#000000" %}
  {% endif %}

  <div class="btn-group">
    <i id="download-as-pdf" class="fa fa-download fa-lg snapshot-dashboard" data-toggle="dropdown" aria-hidden="true" title="Download subdashboard"></i>
    <ul class="dropdown-menu snapshot-dashboard-menu">
      <li><a href="#" data-download-as="pdf">Download as PDF</a></li>
      <li><a href="#" data-download-as="image">Download as Image</a></li>
    </ul>
  </div>

  {% if subdashboard.map_enabled %}
    {% snippet 'portals/snippets/map.html',
      base_color=base_color,
      map=subdashboard.map,
      map_main_property=subdashboard.map_main_property,
      org_display_name=organization.display_name
    %}
  {% endif %}

  {% if subdashboard.content_section_enabled %}
    {% snippet 'portals/snippets/media.html', media=subdashboard.media %}
  {% endif %}

  {% if subdashboard.data_section_enabled %}
    {% snippet 'portals/snippets/new_data.html',
      base_color=base_color,
      font_base_color=font_base_color,
      font_new_data_color=font_new_data_color,
      org_display_name=organization.display_name,
      subdashboard_group_name=subdashboard.group
    %}
    {% snippet 'portals/snippets/all_data.html',
      base_color=base_color,
      secondary_color=secondary_color,
      font_base_color=font_base_color,
      font_all_data_color=font_all_data_color,
      is_subdashboard=true,
      subdashboard=subdashboard
    %}
    {% snippet 'portals/snippets/pagination.html',
      current=c.page.page,
      per_page=c.page.items_per_page,
      total=c.page.item_count
    %}
  {% endif %}
{% endblock %}
