<div id="change_chart_{{ n }}" class="{{ class }}">
  <div class="control-group control-select">
    <label class="control-label" for="media_size_{{ n }}">Select size</label>
    <div class="controls ">
      <select id="media_size_{{ n }}" name="media_size_{{ n }}">
        <option value="single">Single</option>
        <option value="double">Double</option>
        <option value="square">Square</option>
      </select>
    </div>
  </div>

  <div class="control-group control-select">
    <label class="control-label" for="chart_dataset_{{ n }}">Select dataset</label>
    <div class="controls ">
      <select id="chart_dataset_{{ n }}">
        <option value="">Choose dataset</option>
      </select>
    </div>
  </div>

  <div class="control-group control-select chart_resource_{{ n }} hidden">
    <label class="control-label" for="chart_resource_{{ n }}">Select resource</label>
    <div class="controls ">
      <select id="chart_resource_{{ n }}">
        <option value="">Choose resource</option>
      </select>
    </div>
  </div>

  <div class="control-group control-select chart_resourceview_{{ n }} hidden">
    <label class="control-label" for="chart_resourceview_{{ n }}">Select resource view</label>
    <div class="controls ">
      <select id="chart_resourceview_{{ n }}" name="select_chart_resourceview_{{ n }}">
        <option value="">Choose view</option>
      </select>
    </div>
  </div>

  <div class="control-group ">
    <label class="control-label" for="chart_subheader_{{ n }}">Subheader</label>
    <div class="controls ">
      <input id="chart_subheader_{{ n }}" name="input_chart_subheader_{{ n }}"
             value=""
             placeholder="Enter chart subheader" type="text">
    </div>
  </div>

</div>