<fieldset>
  <legend>{{ _('Content settings') }}</legend>

    <div id="content-settings-items">
        {% if data.media %}
          {% for media_item in data.media %}
            {% if media_item.media_type == 'chart' %}
              {% snippet 'ajax_snippets/charts_list.html', data=media_item %}
            {% elif media_item.media_type == 'image'  %}
              {% snippet 'ajax_snippets/images_list.html', data=media_item %}
            {% endif %}


          {% endfor %}
        {% endif %}

    </div>

</fieldset>
</fieldset>
  <div id="create-media-item-section">

  {{ form.select('item_type', 'item_type', _('Item Type'), options=[{'value': '', 'text': 'Choose item'},
                                                                    {'value': 'chart', 'text': 'Chart'},
                                                                    {'value': 'image', 'text': 'Image'},
                                                                    {'value': 'youtube_video', 'text': 'YouTube video'}], selected='') }}

    <a id="create-media-item-btn" class="create-media-item-btn btn btn-default" style="display: {{ btn_display  }}">Create item</a>
  </div>
  <div class="hidden" id="media-section-info-msg">
    <span>You need to save the changes in order to edit or add new items.</span>
  </div>
</fieldset>



