{% extends "organization/edit_base.html" %}
{% import 'macros/form.html' as form %}
{% set data=c.group_dict %}
{% set errors={} %}

{% block subtitle %}{{ _('Portal') }} - {{ super() }}{% endblock %}

{% block primary_content_inner %}
  <form class="dataset-form form-horizontal">
    <fieldset>
      <legend>
      <h2>{{ _('Dashboard settings') }}

      {% if data.orgportals_is_active == '1' or data.orgportals_is_active is undefined %}
        <a class="btn btn-info pull-right"
          target="_blank"
          href="{% url_for controller='ckanext.orgportals.controllers.portals:OrgportalsController',
                                                                   action='view_portal',
                                                                   locale=locale,
                                                                   name=c.group_dict.name%}">View Dashboard</a>
      {% endif %}
      </h2>
    </legend>
      {{ form.select('orgportals_is_active', 'orgportals_is_active', _('Is portal active?'), options=[{'value': '1', 'text': 'Yes'}, {'value': '0', 'text': 'No'}], selected=data.orgportals_is_active) }}

      {{ form.select('orgportals_lang_is_active', 'orgportals_lang_is_active', _('Show language selector'), options=[{'value': '0', 'text': 'No'}, {'value': '1', 'text': 'Yes'}], selected=data.orgportals_lang_is_active) }}
      {{ form.markdown('orgportals_header', label=_('Portal header'), id='orgportals_header', placeholder=_('Set the portal header text'), value=data.orgportals_header, error=errors.orgportals_header) }}

      {{ form.markdown('orgportals_footer', label=_('Portal footer'), id='orgportals_footer', placeholder=_('Set the portals footer'), value=data.orgportals_footer, error=errors.orgportals_footer) }}

      {{ form.markdown('orgportals_description', label=_('Portal description'), id='orgportals_description', placeholder=('Set the portal description'), value=data.orgportals_description, error=errors.orgportals_description) }}

      {{ form.markdown('orgportals_copyright', label=_('Portal copyright'), id='orgportals_copyright', placeholder=_('Set the portal copyright'), value=data.orgportals_copyright, error=errors.orgportals_copyright) }}

      {% if data.id %}
        {% snippet 'organization/snippets/colors.html', data=data %}
      {% endif %}

    </fieldset>
  </form>



{% endblock %}

{% block scripts %}
  {% resource 'orgportals/jscolor.js' %}
  {{ super() }}
{% endblock %}